<!DOCTYPE html>
<html>
  <head>
    <title>AUC Result</title>
    
  </head>
  <body>

 
    <font size="5"> Below is Your AUC Result: </font> 
   <br>
    <img id="auc" alt="Auc Result" src="{{url_for('send_AUC')}}" width:304px;height:228px;">
    

    <form action = "http://52.15.44.99:80/aucListener " method = "POST"
    <br>
    Top Features Included:
    <input type="text" name="maxrange" id="maxrange"><br>

    
    <br>Would you like to average your result?:<br>
    <input type="radio" name="avg" value="No" checked>No<br>
    <input type="radio" name="avg" value="Yes">Yes<br> 

    <input type="reset">
    <input type="submit" id="submit" value="Submit"> 
    <img id="loading" alt="loading" src="{{ url_for('static', filename='loading.gif') }}" style="display: none;"> 
   </form>
        
     <script type="text/javascript" src="{{ url_for('static', filename='loadAuc.js') }}">
    </script>
      
  </body>
