<!DOCTYPE html>



<body>

<script type="text/javascript" src="{{ url_for('static', filename='loadFile.js') }}">
    </script>
<form action = "http://0.0.0.0:5000/result " method = "POST" 
    enctype="multipart/form-data">
    <fieldset>
    <legend>Plot Config:</legend>
    <br>
    <font size="5" id="p1">Please upload your input file:</font>
    
    <br>
    <input type="file" name="file" id="file" accept="*/*"" >    	
    <br>
    
    <font id="or" or ></font>
    <br>	
    
    <input type="button" name="samplebutton" id="load"value="Load a Sample File" onclick="loadSample()"/>
    <br>
    <font color="green" id="p2"></font> 
   	
	 
    <br>
    <br>Classifer type:<br>
    <input type="radio" name="classifier" value="SVM" checked>Support Vector Machine<br>
    <input type="radio" name="classifier" value="NB">Naive Bayes<br>
    <input type="radio" name="classifier" value="RF">Random Forest<br>

    <br>Number of estimators (if you chose Random Forest as your classifier):<br>
    <input type="text" name="estimators" value="10"><br>		
	   
    <br>Plot lengend size:<br>
    <input type="text" name="legendsize" value=7.5><br>    
    	  		
    <br>Plot line width:<br>
    <input type="text" name="plotlinewidth" value=2><br> 

    <br>Legend title:<br>
    <input type="text" name="legendtitle" value="Sample"> <br>

<br><br>	
    
    
    <input type="reset">
    <input type="submit" name="submit" id="submit" value="Submit">
    <img id="loading" src="{{ url_for('static', filename='loading.gif') }}"  style="display: none;"> 
    

  </fieldset>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>


</html>
