<!DOCTYPE html>



<body>



<form action = "http://52.15.44.99:80/result " method = "POST" 
    enctype="multipart/form-data">
    <fieldset>
    <legend>Plot Config:</legend>
    <br>Please upload your input file/files:<br>
    <input type="file" name="file" id="file" accept="*/*"" multiple>    	
    <br>or<br>	
    <input type="button" name="samplebutton" value="Load a Sample File" onclick="loadSample()"/>
    <font color="red" id="p1">This is some text!</font> 
   	
	 
    <br>
    <br>Classifer type:<br>
    <input type="radio" name="classifier" value="SVM" checked>Support Vector Machine<br>
    <input type="radio" name="classifier" value="NB">Naive Bayes<br>
    <input type="radio" name="classifier" value="RF">Random Forest<br>

    <br>Number of estimators (if you chose Random Forest as your classifier):<br>
    <input type="text" name="estimators" value="10"><br>	


    <br>Would you like to average your result?:<br>
    <input type="radio" name="avg" value="Yes" checked>Yes<br>
    <input type="radio" name="avg" value="No"> No<br>	
	    

    <br>Feature Selection interval:<br>
    <input type="text" name="interval" id ="interval" value=10><br>	


    <br>Plot feature range:<br>
    <input type="text" name="plotrange" value=85><br>

    <br>Plot lengend size:<br>
    <input type="text" name="legendsize" value=7.5><br>    
    	  		
    <br>Plot line width:<br>
    <input type="text" name="plotlinewidth" value=2><br> 

    <br>Legend title:<br>
    <input type="text" name="legendtitle"><br>








<br><br>	
    <input type="reset">
    <input type="submit" value="Submit">

    

  </fieldset>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>


</html>
