<!DOCTYPE html>
<html>
  <head>
    <title>Photos</title>
  </head>
  <body>
    <h1>Photos</h1>
    <div class="photo">
      <img src="/home/ubuntu/LabTool1/OUTPUT_LOU/SVM_().png">
    </div>
    <div class="photo">
      <img src="/home/ubuntu/LabTool1/OUTPUT_LOU/SVM_TOP_80_Features.png">
    </div>
    <div class="photo">
      <img src="/home/ubuntu/LabTool1/OUTPUT_LOU/SVM_TOP_20_Features.png">
    </div>
    <div class="photo">
      <img src="/home/ubuntu/LabTool1/OUTPUT_LOU/SVM_TOP_40_Features.png">
    </div>
    <div class="photo">
      <img src="/home/ubuntu/LabTool1/OUTPUT_LOU/SVM_TOP_30_Features.png">
    </div>
    <div class="photo">
      <img src="/home/ubuntu/LabTool1/OUTPUT_LOU/SVM_TOP_1_Features.png">
    </div>
    <div class="photo">
      <img src="/home/ubuntu/LabTool1/OUTPUT_LOU/SVM_TOP_60_Features.png">
    </div>
    <div class="photo">
      <img src="/home/ubuntu/LabTool1/OUTPUT_LOU/SVM_TOP_10_Features.png">
    </div>
    <div class="photo">
      <img src="/home/ubuntu/LabTool1/OUTPUT_LOU/SVM_TOP_50_Features.png">
    </div>
    <div class="photo">
      <img src="/home/ubuntu/LabTool1/OUTPUT_LOU/SVM_TOP_70_Features.png">
    </div>
  </body>
</html>