
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='style.css') }}">

</head>
<body>

        <h1 class="page-header">    Your ROC Results</h1>
        
        <font size="3">Below are your ROC resutls, you can also download all the output files using this link:</font>
        <a href="{{url_for('get_zip')}}">Download</a>

	<img id="roc" alt="Roc Result" src="{{url_for('get_Relief')}}" width:304px;height:228px;">
<img id="roc" alt="Roc Result" src="{{url_for('get_GainRatio')}}" width:304px;height:228px;">
<img id="roc" alt="Roc Result" src="{{url_for('get_MRMR')}}" width:304px;height:228px;">
<img id="roc" alt="Roc Result" src="{{url_for('get_InfoGain')}}" width:304px;height:228px;">
<img id="roc" alt="Roc Result" src="{{url_for('get_SymmeUncertain')}}" width:304px;height:228px;">


	<img id="loading" alt="loading" src="{{ url_for('static', filename='loading.gif') }}" style="display: none;"> 
	
	<font size="3">You can see Venn Diagram here:</font>
        <a href="{{url_for('venn')}}">Venn Diagram</a>

	

         
        
       
</body>
